<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About Me</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>I am a Data Scientist with a strong background in statistical analysis, geospatial data processing, and data visualization. I hold a Master's degree in Management Sciences with a focus on Statistical Data Analytics from the University of Waterloo. Additionally, I have a Bachelor's degree in Electrical Engineering with a focus on Renewable Energy Systems and a minor in Computer Science.</p>
      </div>
      <div class="col-lg-4">
        <p>Throughout my career, I have applied advanced techniques such as Bayesian statistics to real-world problems, working with international organizations like the World Bank and the World Health Organization. I am certified in Data Science by IBM, and have completed various certifications in areas like Machine Learning from Stanford University and Product Management from Udacity. My passion lies in leveraging data to drive impactful results, and I continuously seek opportunities to expand my knowledge and skills.</p>
      </div>
    </div>
  </div>
</section>
